* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  background-color: #b7c8d6;
}

body {
  font-family: "Roboto", sans-serif;
  background-color: #f9f9f9;
}

.home-container {
  display: flex;
  flex-direction: column;
  align-items: center;
  text-align: center;
  padding: 20px;
}

.header {
  /* background-color: #b7c8d6; */
  color: white;
  padding: 20px;
  border-radius: 8px;
  margin-bottom: 20px;
}

.title {
  font-size: 2.8rem;
  margin-bottom: 10px;
}

.subtitle {
  font-size: 1.3rem;
  margin-top: 5px;
}

.content {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  gap: 20px;
}

.image-container {
  flex: 1;
  max-width: 600px;
}

.farm-image {
  width: 100%;
  height: auto;
  border-radius: 8px;
}

.description {
  flex: 1;
  max-width: 600px;
  /* background-color: white; */
  padding: 20px;
  border-radius: 8px;
  /* box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1); */
}

.links {
  margin-top: 20px;
}

.link-button {
  display: inline-block;
  background-color: #27ae60;
  color: white;
  padding: 12px 25px;
  text-decoration: none;
  border-radius: 8px;
  margin: 5px;
  font-size: 1rem;
  font-weight: bold;
  transition: background-color 0.3s, transform 0.2s;
}

.link-button:hover {
  background-color: #218c54;
  transform: scale(1.05);
}

.footer {
  margin-top: 40px;
  font-size: 0.9rem;
  color: #555;
}

@media (max-width: 768px) {
  .home-container {
    padding: 10px;
  }

  .header {
    padding: 15px;
  }

  .title {
    font-size: 2.2rem;
  }

  .subtitle {
    font-size: 1.1rem;
  }

  .content {
    flex-direction: column;
    align-items: center;
  }

  .image-container,
  .description {
    max-width: 100%;
  }

  .link-button {
    padding: 10px 20px;
  }
}
